/* Font: Pixelated */
@font-face {
    font-family: "pixelated";
    src: url("pixelated.ttf");
}

/* Font: Quicksand */
@font-face {
    font-family: "quicksand";
    src: url("quicksand.ttf");
}

a:active {
    color: turquoise;
}

a:visited {
    color: turquoise;
}

a:hover {
    color: turquoise;
}
